<h1 style="font-family:Helvetica;color:orange">Hello, this is the Artist Page.</h1>

<div style="text-align:center;margin-top:3em">
<h2 style="font-family:Helvetica;">Name: <%= @artist.name %> </h2>
<p style="font-family:Helvetica;">Age: <%= @artist.age %> </p>
<p style="font-family:Helvetica;">Bio: <%= @artist.bio %> </p>
</div>